/* Root Variables */
:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Lato', sans-serif;
    --color-primary: #4C969B;
    --color-secondary: #31404E;
    --color-light-teal: #BADDDB;
    --color-grey: #b5b5b5;
    --color-dark-grey: #4A4A4A;
    --button-height: 45px;
    --button-width: 150px;
}

/* Reset and General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    max-width: 898px;
    min-height: 438px;
    border: 1px solid var(--color-secondary);
}



/* Header */

header {
    width: 898px;
    height: 45px;
    background-color: var(--color-secondary);
    color: white;
    font: var(--font-secondary);
    padding: 10px 30px;
    position: fixed;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.branding {
    display: flex;
    align-items: center;
    gap: 20px;
}

.branding .logo img {
    display: block;
}

.branding .title h3 {
    font-size: 20px;
    color: white;
}

/* Navigation */

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li {
    font-size: 14px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #4C969B;
}

/* Buttons */
button,
.btn-save,
.btn-next {
    width: var(--button-width);
    height: var(--button-height);
    font-size: 16px;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    background-color: var(--color-primary);
}

button:hover,
.btn-save:hover,
.btn-next:hover {
    background-color: var(--color-secondary);
}

.btn-back {
    color: var(--color-primary);
    background-color: white;
    border: 2px solid var(--color-primary);
}

.btn-back:hover {
    background-color: var(--color-secondary);
    color: white;
    border: 2px solid var(--color-secondary);
}

.container button {
    margin: 20px 10px;
    display: inline-block;
    position: relative;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;;
    margin-left: 25px;;
    gap: 20px;
}

.radio-group input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.radio-group input[type="radio"]:checked {
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
}

/* Branded-wrapper Styles */

.branded-wrapper {
    background-color: var(--color-primary);   
    min-height: 438px;
    margin-top: 45px;
    padding-top: 40px;
}

.branded-container, 
.configure-container  {
    width: 806px;
    height: 353px;
    background-color: white;
    padding: 25px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.branded-container p {
        margin: 25px auto;
    }

.branded-container p a {
        color: var(--color-grey);
        text-decoration: none;
}

.branded-container p a:hover {
        color: var(--color-secondary)
}

.container {
    background-color: white;
    min-height: 438px;
    margin-top: 45px;
    border-radius: 5px;
    text-align: center;
}

.container h2 {
    font-size: 24px;
    font-family: var(--font-secondary);
    font-weight: bold;
    text-align: left;
    margin-top: 45px;
    padding-left: 30px;
    padding-top: 30px;
}

.container p {
    font-size: 16px;
    text-align: left;
    margin-top: 15px;
    margin-left: 30px;
}

/* Login Page */

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form input {
    width: 313px;
    padding: 10px;
    font-size: 16px;
    margin:auto;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
}

/* Configure Page */

.configure-container h2 {
    font-family: var(--font-secondary);
    font-weight: bold;
    text-align: left;
    margin-top: 25px;;
    margin-left: 25px;;
}

.configure-container p {
    text-align: left;
    margin-top: 25px;;
    margin-left: 25px;;
}

.hidden {
    display: none;
}

.configure-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

select {
    width: 268px;
    padding: 5px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    margin-left: 50px;
}

/* New Campaign Page */

.campaign-options {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 50px auto 42px;
    max-width: 700px;
}

.campaign-item {
    flex: 1;
    max-width: 150px;
    aspect-ratio: 1;
    cursor: pointer;
}

.item-border {
    border: 4px solid var(--color-grey);
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 20px;
}

.campaign-item.selected .item-border {
    border-color: var(--color-primary);
}

.campaign-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 15px;
    filter: brightness(0) saturate(100%) invert(47%) sepia(8%) saturate(382%) hue-rotate(182deg) brightness(94%) contrast(87%);
    transition: filter 0.3s ease;
}

.campaign-item.selected .campaign-icon {
    filter: brightness(0) saturate(100%) invert(45%) sepia(19%) saturate(1111%) hue-rotate(143deg) brightness(95%) contrast(87%);
}

.campaign-item p {
    margin: 0;
    color: #757575;
    font-size: 16px;
    font-weight: bold;
}

.campaign-item.selected p {
    color: var(--color-primary);
}

/* Basic Settings Page */
.settings-form {
    text-align: left;
}

.setting-section h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 30px;
}

.full-width-placeholder {
    width: 838px;
    padding: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.setting-section .radio-group {
    margin-left: 30px;
    margin-top: 15px;
    gap: 10px;
}

.setting-section .radio-group label {
    margin-bottom: 10px;
}

/* Background Page */
.subtitle {
    color: #b5b5b5;
    font-size: 14px;
    margin-top: 5px !important;
    margin-left: 25px;
}

.background-options {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-left: 25px;
}

.option-box {
    max-width: 413px;
    flex: 1;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.option-box.selected {
    border-color: #508991;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-picker {
    width: 23px;
}

.dimension-section h3 {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 16px;;
}

.dimension-select {
    width: 360px;
    margin-top: 10px;
    margin-left: 25px;
}

.upload-area {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 25px;
    height: 129px;
    width: 354px;
    border: 2px dashed #b5b5b5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload-area:hover {
    border-color: #508991;
    background-color: #f5f5f5;
}

.upload-placeholder {
    text-align: center;
}

.upload-placeholder img {
    width: 48px;
    height: 48px;
    opacity: 0.5;
}

/* Appearance Solid Color */

.form-container {
    margin-top: 15px;
}

.form-container input {
    width: 80px;
}

.form-container select {
    width: 120px;
    margin-left: 15px;
}

.form-row-label {
    display: flex;
    max-width: 600px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 150px;
}

.form-row-time {
    display: flex;
    max-width: 650px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 92px;
    justify-content: space-between;
}

.form-row-unit {
    display: flex;
    max-width: 645px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 98px;
    justify-content: space-between;
}

.form-row select,
.form-row-time input,
.form-row-unit input {
    margin: 0 5px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-row-time input[type="color"],
.form-row-unit input[type="color"],
.pop-up-setting input[type="color"] {
    width: 23px;
    padding: 0;
}

.solid-color-timer {
    border: 1px solid #b5b5b5;
    width: 600px;
    height: 153px;
    margin:auto;
}

/* Appearance Image */

.wrapped-label-row {
    display: flex; 
    gap: 10px; 
    align-items: center; 
    margin-top: 45px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.wrapped-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

.option-icon {
    width: 20px; 
    height: 20px;
    cursor: pointer;
    background-color: #b5b5b5;
    border-radius: 2px;
    padding: 2px;
}

.image-timer {
    border: 1px solid #b5b5b5;
    width: 600px;
    height: 190px;
    margin:auto;
}

.pop-up-setting {
    width: 600px;
    height: 80px;
    background-color: var(--color-light-teal);
    border-radius: 5px;
    position: absolute; /* Position relative to the nearest positioned parent */
    top: 55px; /* Adjust to place at the top */
    right: 28px; /* Adjust to place at the right */
    border-radius: 4px;
    padding-top: 10px;
    z-index: 1000;
}

.pop-up-label {
    display: flex;
    max-width: 580px;
    margin-bottom: 5px;
}

.pop-up-input {
    display: flex;
    max-width: 584px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0px;
    justify-content: space-between;
}

.pop-up-input input {
    padding: 5px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

/* Footer */
footer {
    width: 898px;
    height: 35px;
    background: var(--color-dark-grey);
    color: white;
    font: 12px var(--font-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}